#wrapper

  #video
    <iframe width="455" height="359" src="http://www.youtube.com/embed/irjgfW0BIrw" frameborder="0" allowfullscreen></iframe>

  #pitch
    %h1 Don't forget to track your metrics over time

  #form
    %form{:action => '', :method => 'post'}
      %input{:type => 'text', :name => 'url', :class => 'in_form', :value => 'http://www.yourwebsite.com', :onfocus => 'if(this.value==this.defaultValue)this.value="";', :onblur => 'if(this.value=="")this.value=this.defaultValue;'}    
      %br
      %input{:type => 'text', :name => 'email', :class => 'in_form', :value => 'Your email address', :onfocus => 'if(this.value==this.defaultValue)this.value="";', :onblur => 'if(this.value=="")this.value=this.defaultValue;'}    
      %br
      %a{:href => "/thankyou"}
        %input{:type => 'submit', :name => 'submit', :class => 'button', :value => 'Start tracking'}

  #dont_know
    %img{:src => 'images/dont_know.png'}
  
  #disclaimer 
    %p DAVE MC CLURE HAS NO CONNECTION TO THE CREATION OF THIS PRODUCT. 
    %a{:href => "mailto:'ivan@bakedweb.net'"} HOWEVER IF YOU ARE DAVE MC CLURE DROP US A LINE.
  
  #whatwedo 
    %h1 
      What we do.
    %img{:src => "images/screens.png"}
    %p 
      We take screenshots of your app, so that you can track the success of your design changes. You can also track your AARRR metrics over time and make data driven decisions.
  
  #likeidea
    %h1
      Like this idea?
    #likeidea_img
      %img{:src => 'images/envelope.png'}

    #likeidea_txt
      %a{:href => 'mailto: ivan@bakedweb.net'}
        Drop us a line.<br/>
        
      %p
        We are in beta testing and would love to hear from you.
