#wrapper{:style => 'width: 751px;'}

  #loading{:style => 'display: none;'}
    %img{:src => '/images/ajax-loader.gif'}

  #selectevent_columnlabelbar
    %table{:width => '717', :height => '100%', :cellspacing => '0', :cellpadding => '0', :style => 'background-color: #ccc;'}
      %tr
        %td{:class => 'eventlist_columnlabels' :width => '92'} Date
        %td{:class => 'eventlist_columnlabels' :width => '92'} Location
        %td{:class => 'eventlist_columnlabels' :width => '92'} Venue
        %td{:class => 'eventlist_columnlabels' :width => '92'} Event
