#wrapper

  #video
    <iframe src="http://player.vimeo.com/video/26282052?title=0&amp;byline=0&amp;portrait=0" width="455" height="359" frameborder="0"></iframe>

  #pitch
    %h1 Conoce la gente que visita tu pagina web.
    %p ¿Sabes quien visita tu página web? ¿Puedes hacer seguimiento con esta gente? ¿Cómo brindar una experiencia más personalizada a tus usuarios? Teniendo la cortina en tu página web tendrás toda esta información de tus usuarios y mucho más...
    .button
      %a{:href => "/thankyou"}Crea tu cuenta GRATIS
  
  #whatwedo 
    %h1 
      Que es la cortina?
    #whatwedo_left
      %img{:src => "images/product_1.png"}
      %p Registro con cuenta de Facebook.
      %p Aseguramos que tus visitas se registren antes de entrar en tu página web. 
    #whatwedo_right
      %img{:src => "images/product_3.png"}
      %p Notificaciones al email y administrador.
      %p Aqui puedes ver toda la informacion de tus visitas.

    #whatwedo_right
      %img{:src => "images/product_2.png"}
      %p Permiso.
      %p Tu usuario nos a permiso a accesar su información de Facebook.
  .clear
