#wrapper
  #loading
    %img{:src => '/images/ajax-loader.gif'}

  #selectevent_columnlabelbar
    %table.tablesorter{:id => 'main_table', :width => '717', :height => '100%', :cellspacing => '0', :cellpadding => '0'}
      %thead
        %tr
          %th{:class => 'eventlist_columnlabels', :width => '92'} Date
          %th{:class => 'eventlist_columnlabels', :width => '92'} Location
          %th{:class => 'eventlist_columnlabels', :width => '92'} Venue
          %th{:class => 'eventlist_columnlabels', :width => '150'} Event
          %th{:class => 'eventlist_columnlabels', :width => '92'} 
