!!! Strict
%html
  %head
    %title Esturisti.co 
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %link{:rel => "shotcut icon", :href => "/images/icono.png"}
    %link{:href=>"/css/styles.css", :rel =>"Shortcut Icon"}
    %script{:charset => "utf-8", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"}
    %script{:charset => "utf-8", :src => "/js/app.js"}
    %script{:charset => "utf-8", :src => "/js/lib/jquery.gamequery-0.5.1.js"}

  %body
    = yield



