!!!
%HTML{:lang => "en", :style => "zoom: 100%; "}
  %HEAD
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title AARRRminder
    %link{:href => "/css/styles.css", :rel => "stylesheet", :type => "text/css"} 
    %script{:charset => "utf-8", :src => "/js/jquery-min.js"}
    %script{:charset => "utf-8", :src => "/js/app.js"}
    %script{:type => "text/javascript", :src => "http://use.typekit.com/zno7dyx.js" }
    %script{:type => "text/javascript"}try{Typekit.load();}catch(e){}

  %body
    = yield 
  
