!!! Strict
%html
  %head
    %title Venue Widget
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %link{:type => "text/css", :rel => "stylesheet", :href => "/css/styles.css"}
    %script{:charset => "utf-8", :src => "/js/lib/jquery.js"}
    %script
      VenueConfig = new Object();
      VenueConfig.api_token = "NVJEZ3T8A861Q2";
      VenueConfig.account = '297';
      VenueConfig.div_id = 'selectevent_columnlabelbar';
    %script{:charset => "utf-8", :src => "/js/VenueWidget.js"}



  %body
    = yield



