<div id="pay_social">  
	<iframe src="http://www.paywithatweet.com/dlbutton02.php?id=dc4ed5f00f4e0750431ec56056cd98ab" name="paytweet_button2" width = "240px" height = "24px" scrolling="No" frameborder="no" id="paytweet_button2"></iframe>
</div>