#wrapper
  #thankyou_left
    %h1 MUY FACIL.
    %p Sólo debes copiar y pegar este código en tu página web. Asegúrate que lo estas agregando en los tags del &#60;head&#62;
    %br
    .link
      %a{:href => "mailto: info@esturisti.co", :target => "blank", :style => "margin-left: -100px;"}¿No entiendes cómo instalar la cortina?
    
  #thankyou_right
    %form 
      %input{:type => "text", :name => "fname"}
	

