#wrapper
  #thankyou
    %h1 THANK YOU.
    %br
    #thankyou_left
      %p We are in private beta, however you can hustle your way in paying with a tweet.
      = erb_partial :pay_with_social
    #thankyou_right
      %img{:src => '/images/pirate.png'}
